<div fxFill fxLayout="column">
    <div fxFlex fxLayout="row" class="m-1" fxLayoutAlign="center stretch">
        <mat-card fxFlex="70" fxLayout="column" class="mb-1">
            <div class="m-1" fxLayout="row" fxLayoutAlign="center center">
                <h1>Reset Password <em>or</em><span><button [routerLink]="['/login']" class="ml-1" color="primary" mat-raised-button>Login</button></span></h1>
            </div>
            <form [formGroup]="form" fxLayout="column">
                <mat-form-field appearance="outline"> <!-- Username Input -->
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Your email.">
                    <mat-error>Please a valid email.</mat-error>
                </mat-form-field>
                <p class="error"><em>{{errorMessage}}</em></p>
                <button type="button" (click)="onSubmit()" mat-raised-button color="accent" 
                    [disabled]="form.invalid">Reset<i class="ml-05 fas fa-door-open"></i>
                </button>
            </form>
        </mat-card>
    </div>
</div>