<mat-card class="p-0 m-1" fxFlex> 
    <div class="m-1" fxLayout="column">
        <h1 class="text-center">{{message}}</h1>
        <button *ngIf="!creating && !joining" type="button" color="primary" (click)="createRoom()" mat-raised-button>Create room</button>
        <button *ngIf="!creating && !joining" type="button" color="warn" (click)="joinRoom()" class="mt-1" mat-raised-button>Join room</button>
        <form *ngIf="creating" [formGroup]="form" fxLayout="column" class="mt-1">
            <mat-form-field appearance="outline"> <!-- Room name Input -->
                <mat-label>Room</mat-label>
                <input type="text" matInput formControlName="room" placeholder="Your room name.">
                <mat-error>Please enter your room name.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"> <!-- Password Input -->
                <mat-label>[Optional] Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" placeholder="Your password." autocomplete="off">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>Please enter your password.</mat-error>
            </mat-form-field>
            <button type="button" color="primary" (click)="onSubmit()" [disabled]="form.invalid" mat-raised-button>Submit</button>
            <button type="button" class="mt-1" (click)="back()" mat-raised-button color="accent">Back</button>
        </form>
        <div *ngIf="joining" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center space-between">
                <button type="button" fxFlex="80" (click)="refresh()" mat-raised-button color="primary">Refresh</button>
                <span class="spacer"></span>
                <button type="button" fxFlex="15" class="m1-1" (click)="back()" mat-raised-button color="accent">Back</button>
            </div>
        </div>
    </div>
</mat-card>